<!DOCTYPE html>
<html>
<head>
<title>PAID Member Point Tracker Documentation</title>
</head>
<body>

<h1>HOW TO USE:</h1>
<br>
<h2>General Members:</h2>
<p>
    General members will have access to only viewing names and points. 
    They are able to search for their name and sort by names and points.
    A general member will not be able to edit any member or event data.
    Only users with admin-level access will be able to edit and create member or user data.
</p>

<h2>Admin Access:</h2>
<p>
    To access admin-level privileges click the link at the top right corner named "Admin Home".
</p>
 
<h3>Admin Home</h3>
<p>
    With admin-level access, a user can create and delete admins to allow for new admins to have control of the website.
    All of this can be done by following the "Manage Admin Users" link.
    From Admin Home, a user can also visit the members and events page.
</p>

<h3>Members</h3>
<p>
    All of the features given in the general members' page is also found on this page.
    Those features include searching, sorting by names and points, and viewing all members and their points.
    The members' page with admin access allows for the creation, deletion, showing, and editing of members.
    By clicking on the links next to a given member you are able to access the mentioned features.
    The members' page with admin access also allows the user to export the table with all of the member data into a CSV formatted file, just click the Export Data button.
    An admin can also manually add points to any given member if needed.
    Admins can also bulk add members if needed by clicking the "Bulk Add New Members" button.
    The user can import a CSV formatted file. The file should match the format given by Marketplace when pulling new member information.
</p>

<h3>Events</h3>
<p>
    With admin level access, a user can create, edit, view, and delete events. 
    Similar to the members' table, a user can perform actions on all of the events by clicking on the links within the event's row.
    There are two ways to update oints in bulk. 
    By clicking on the "show" link for any given event, a user can import a CSV given by the PAID Participation Tracker. 
    The user can also refresh from the Evets page by clicking the "Refresh" button, refreshing the events will pull all of the new events from PAID Participation Tracker.
    When updating points through the use of the "Refresh" button, click "show" for one of the new events and click the "Import Points from Sign Up" button.
</p>

<h6>Contact:
    <br>
    Pauline Wade: paulinewade@tamu.edu
</h6>

</body>
</html>