<% @page_title = "Admin Menu" %>

<div class="menu">
  <h2>Admin Menu</h2>
  <div class="identity">Logged in as:</div>
  <table class="centertable">
    <tr>
      <th><li><%= link_to("Manage Members", members_path) %></li></th>
    </tr>
    <tr>
      <th><li><%= link_to("Manage Events", events_path) %></li></th>
    </tr>
    <tr>
      <th><li><%= link_to("Manage Admin Users", '#') %></li></th>
    </tr>
    <tr>
      <th><li><%= link_to("Logout", access_logout_path) %></li></th>
    </tr>
  </table>
</div>

