<div class="members show">
  <h2>Bulk Add Members</h2>

  <table  class="centertable" summary="Bulk Add Members">

    <tr>
        <th><%= link_to("<< Back to List", members_path, :class => 'back-link') %></th>


        <td><%=form_tag import_members_from_csv_members_path(:file), multipart: true do%>
          <%=file_field_tag :file, :class => "button"%>
          <%= submit_tag "Import", :class => "button"%>
        <% end %>
        </td>
    </tr>
  </table>
</div>
