  <table class="centertable" summary="Member list">
    <tr class="header">
      <th>These Emails Do Not Belong To Members</th>
    </tr>
    <%= @missing_members.each do |email| %>
    <tr>
      <td><%= email %></td>
      <td class="actions">
      <%= link_to("Create New Member", new_member_path(email: email), :class => 'back-link') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>